<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716016674491-4qdlhr28nk16o65b1k49ei22gbbfrhd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716016674491-4qdlhr28nk16o65b1k49ei22gbbfrhd9</string>
	<key>API_KEY</key>
	<string>AIzaSyBj4D2eLoyvrOb5U1XO-7yo9FejunT5epI</string>
	<key>GCM_SENDER_ID</key>
	<string>716016674491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.faxyanapatt.flashback</string>
	<key>PROJECT_ID</key>
	<string>flashback-91af7</string>
	<key>STORAGE_BUCKET</key>
	<string>flashback-91af7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716016674491:ios:c1851ee6fcd7d8742f2b9e</string>
</dict>
</plist>